---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

import Pagination from "@/components/Paginator.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, getUniqueTags, sortMDByDate } from "@/data/post";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();
	const allPostsByDate = sortMDByDate(allPosts);
	const uniqueTags = getUniqueTags(allPosts);
	return paginate(allPostsByDate, { pageSize: 10, props: { uniqueTags } });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
	uniqueTags: string[];
}

const { page, uniqueTags } = Astro.props;

const meta = {
	description: "Baca koleksi tulisan seputar Cloud, DevOps & Linux",
	title: "Semua Tulisan",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: `← Sebelumnya`,
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: `Selanjutnya →`,
			url: page.url.next,
		},
	}),
};
---

<PageLayout meta={meta}>
	<div class="mb-6 flex items-center justify-between">
		<h1 class="title text-2xl font-bold">Semua Tulisan</h1>
	</div>

	<section aria-label="Blog post list">
		<ul class="divide-y divide-accent/10">
			{
				page.data.map((p) => {
					const postDate = p.data.updatedDate ?? p.data.publishDate;
					return (
						<li class="grid gap-x-4 gap-y-1 py-4 sm:grid-cols-[120px_1fr]">
							<FormattedDate
								class="min-w-[120px] text-gray-600 dark:text-gray-400"
								date={postDate}
							/>
							<div>
								{p.data.draft && <span class="text-red-500">(Draft) </span>}
								<a
									class="cactus-link font-medium"
									data-astro-prefetch
									href={`/posts/${p.slug}/`}
								>
									{p.data.title}
								</a>
								<p class="mt-1 line-clamp-2 text-sm text-textColor/60">
									{p.data.description}
								</p>
							</div>
						</li>
					);
				})
			}
		</ul>

		<Pagination {...paginationProps} />
	</section>
</PageLayout>
